{% extends 'base.html' %} {% block content %}
<form method="post" class="buttons">
  <h3>Enter The Chat Room</h3>
  <div>
    <label>Name:</label>
    <input
      type="text"
      placeholder="Pick a name!"
      name="name"
      value="{{name}}"
    />
  </div>
  <div class="join">
    <input type="text" placeholder="Room Code" name="code" value="{{code}}" />
    <button type="submit" name="join">Join a Room</button>
  </div>
  <button type="submit" name="create" class="create-btn">Create a Room</button>
  <div>
    <button type="submit" id="logout" name="logout">Logout</button>
  </div>
  {% if error %}
  <ul>
    <li>{{error}}</li>
  </ul>
  {% endif %}
</form>

<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-storage.js"></script>
<script src="static/firebase-init.js"></script>
<script>
  // Logout
  const logout = document.querySelector("#logout");
  logout.addEventListener("click", (e) => {
    e.preventDefault();

    auth
      .signOut()
      .then(() => {
        localStorage.setItem("isLoggedIn", false); // Store login status as boolean
        window.location.replace("{{ url_for('login') }}"); //redirects to login page
      })
      .catch((error) => {
        console.log(error.message);
      });
  });
</script>
{% endblock %}
