{% extends 'base.html' %} {% block content %}
<div class="message-box">
  <h2>Chat Room:</h2>
  <div class="messages" id="messages"></div>
  <div class="inputs">
    <input
      type="text"
      rows="3"
      placeholder="Message"
      name="message"
      id="message"
    />
    <button type="button" name="send" id="send-btn" onClick="sendMessage()">
      Send
    </button>
  </div>
</div>
<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-storage.js"></script>
<script src="static/firebase-init.js"></script>
<script>
  // Function to check if user is already in the Members collection of the room
  function checkUserInRoom(code, username) {
    const roomRef = db.collection("Rooms").doc(code);
    const membersRef = roomRef.collection("Members");
    membersRef
      .where("name", "==", username)
      .get()
      .then((querySnapshot) => {
        if (querySnapshot.empty) {
          // User is not in the room, display message and record user
          const message = document.createElement("div");
          message.classList.add("text");
          message.innerHTML = `
            <span>
              <strong>${username}</strong>: "has entered the room"
            </span>
            <span class="muted">${new Date().toLocaleString()}</span>
          `;
          document.getElementById("messages").appendChild(message);

          // Record user in the Members collection
          membersRef.add({ name: username });
        }
      })
      .catch((error) => {
        console.error("Error checking user in room:", error);
      });
  }

  // Call checkUserInRoom function when the page is loaded
  document.addEventListener("DOMContentLoaded", () => {
    const urlParams = new URLSearchParams(window.location.search);
    const code = urlParams.get("code");
    console.log(code);
    const username = urlParams.get("username");
    console.log(username);
    if (username && code) {
      checkUserInRoom(code, username);
    }
  });
</script>
<script type="text/javascript">
  // Function to display messages
  const createMessage = (name, message, timestamp) => {
    const content = `
    <div class="text">
        <span>
            <strong>${name}</strong>: ${message}
        </span>
        <span class="muted">${timestamp}</span>
    </div>
    `;
    document.getElementById("messages").innerHTML += content;
  };

  // Function to send a message
  const sendMessage = async () => {
    const messageInput = document.getElementById("message");
    const message = messageInput.value.trim();
    if (!message) return;

    const urlParams = new URLSearchParams(window.location.search);
    const code = urlParams.get("code");
    const username = urlParams.get("username");

    // Encrypt the message
    let response = await fetch("/encrypt", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ message: message }),
    });
    let data = await response.json();
    const encrypted_message = data.encrypted_message;
    const key = data.key;

    // Decrypt the message for storage
    response = await fetch("/decrypt", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ encrypted_message: encrypted_message, key: key }),
    });
    data = await response.json();
    const decrypted_message = data.decrypted_message;

    // Save the message to Firestore
    const roomRef = db.collection("Rooms").doc(code);
    const messagesRef = roomRef.collection("Messages");

    messagesRef
      .add({
        name: username,
        message: message,
        encrypted_message: encrypted_message,
        decrypted_message: decrypted_message,
        timestamp: new Date().toLocaleString(),
      })
      .then(() => {
        // Clear the message input after successfully sending the message
        messageInput.value = "";
      })
      .catch((error) => {
        console.error("Error sending message:", error);
      });
  };

  // Function to display messages from Firestore
  const displayMessages = (querySnapshot) => {
    querySnapshot.forEach((doc) => {
      const messageData = doc.data();
      createMessage(
        messageData.name,
        messageData.message,
        messageData.timestamp
      );
    });
  };

  // Get the room code from the URL
  const urlParams = new URLSearchParams(window.location.search);
  const code = urlParams.get("code");

  // Listen for new messages in Firestore and display them
  const roomRef = db.collection("Rooms").doc(code);
  const messagesRef = roomRef.collection("Messages");
  messagesRef.orderBy("timestamp").onSnapshot((querySnapshot) => {
    document.getElementById("messages").innerHTML = ""; // Clear existing messages
    displayMessages(querySnapshot);
  });
</script>
{% endblock %}
