{% extends 'base.html' %} {% block content %}
<form action="/sign-up" id="signup-form" method="POST" class="buttons">
  <h3>Sign Up</h3>
  <div>
    <label>Email:</label>
    <input type="email" placeholder="Enter your email" name="email" />
  </div>
  <div>
    <label>Username:</label>
    <input
      type="text"
      placeholder="Enter your username"
      id="username"
      name="username"
    />
  </div>
  <div>
    <label>Password:</label>
    <input type="password" placeholder="Enter your password" name="password" />
  </div>
  <button type="submit" name="signup" class="create-btn">Sign Up</button>
  {% if error %}
  <ul>
    <li>{{ error }}</li>
  </ul>
  {% endif %}
</form>
<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-storage.js"></script>
<script src="static/firebase-init.js"></script>
<script>
  // Signup
  const signupForm = document.querySelector("#signup-form");
  signupForm.addEventListener("submit", (e) => {
    e.preventDefault();

    // Get User Info
    const email = signupForm["email"].value;
    const password = signupForm["password"].value;

    // Signup the User
    auth
      .createUserWithEmailAndPassword(email, password)
      .then((cred) => {
        return db.collection("Users").doc(cred.user.uid).set({
          email: signupForm["email"].value,
          username: signupForm["username"].value,
        });
      })
      .then(() => {
        signupForm.reset();
        localStorage.setItem("isLoggedIn", true); // Store login status as boolean
        window.location.replace("{{ url_for('home') }}");
      })
      .catch((error) => {
        console.log(error.message);
      });
  });
</script>
{% endblock %}
